<footer class="Footer">
  <div class="greenArea">
    <div class="bkArea">
      <div class="center">
        <img
          class="strawberries"src="assets/pic/strawberries.png" alt="Strawberries"/>
        <div class="btnx">
          <p>Want To Request A Product?</p>
          <div class="btn">
            <a href="#" class="secbtn">
              <span>Contact Us</span>
              <div class="icon-container">
                <img src="../../assets/pic/W-Arrow.png" alt="Arrow" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blackAre mainPadding">
    <div class="footerUpper">
      <div class="left">
        <img
          class="Logo"
          src="../../assets/pic/FooterLogoPng.png"
          alt="Healthy Crops Logo"
        />
        <div class="socialIcons">
          <a href="#"
            ><img src="../../assets/pic/Sm logo/facebook (1).png"
          /></a>
          <a href="#"><img src="../../assets/pic/Sm logo/linkedin.png" /></a>
          <a href="#"><img src="../../assets/pic/Sm logo/instagram.png" /></a>
        </div>
      </div>
      <div class="midLeft">
        <h4>Quick links</h4>
          <P><a href="#">About us</a></P>
          <p><a href="#">Our services</a></p>
          <p><a href="#">Products list</a></p>
          <p><a href="#">Customer portal</a></p>
          <p><a href="#">Contacts us</a></p>
      </div>
      <div class="midRight">
        <h4>Our products</h4>
          <p><a href="#">Watermelon Seeds</a></p>
          <p><a href="#">Sesame Seeds</a></p>
          <p><a href="#">Hibiscus Flower</a></p>
          <p><a href="#">Dried Ginger flakes</a></p>
          <p><a href="#">Chickpeas</a></p>
      </div>
        <div class="right">
          <h4>Contact us</h4>
          <p><strong>Main Office</strong></p>
          <p>
            Email:
            <a href="mailto:info@healthycrops.com">info&#64;healthycrops.com</a>
          </p>
          <p>Phone: <a href="tel:+201234567896">+20 123 456 7896</a></p>
          <p class="address">Address: United Arab Emirates<br/>Ajman Free Zone</p>
        </div>
    </div>
    <hr />
    <div class="footerBottom">
      <div class="temrs">
        <a href="#">Terms & Conditions</a>
        <div><a href="#">Privacy Policy</a></div>
      </div>
      <div>
        <p>
          © HEALTHY CROPS 2022, All Rights Reserved, Developed by
          <a href="#">Innovitcs Inc.</a>
        </p>
      </div>
    </div>
  </div>
</footer>
