@import "../../assets/Css/Mixin.scss";
@import "../../assets/Css/common.scss";
@import "../../assets/Css/variables.scss";

@include globalTextStyles($mainFontSize, $primaryColor);

.aboutContainer {
  display: flex;
  gap: 3.125rem;

  @include mq("tablet-wide") {
    flex-direction: column;
    place-items: center;
    gap: 1.875rem;
  }
  @include mq("phablet"){
    gap: 0.875rem;
  }

  .textHolder {
    position: relative;
    width: 100%;

    @include mq("tablet-wide") {
      place-items: center;
      text-align: center;
    }
    body.rtl & {
      @include mq("tablet-wide") {
        text-align: center;
      }
    }

    .subTextHolder {
      h2 {
        direction: ltr;
      }
      p {
        @include mq("tablet-wide") {
          margin-top: 10px;
        }
      }

      body.rtl & {
        p {
          @include mq("tablet-wide") {
            margin-top: 30px;
            font-family: "Neo-Medium";
          }
        }
      }
    }
  }

  .picHolder {
    position: relative;
    width: 50%;

    @include mq("desktop") {
      width: 80%;
    }
    @include mq("tablet-wide") {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    // body.rtl & {
    //   @include mq("phablet") {
    //     display: flex;
    //     justify-content: center;
    //   }
    // }

    .pppic {
      @include mq("desktop") {
        width: 100%;
      }
      @include mq("tablet-wide"){
        width: 60%;
      }
      @include mq("tablet") {
        display: flex;
        width: 70%;
      }
      body.rtl & {
        @include mq("phablet") {
          display: grid;
          width: 100%;
        }
      }
    }
  }
}
.shadowPic {
  background: url(../../assets/pic/Group5227.png) no-repeat;
  width: 100%;
  height: auto;

  @include mq("tablet") {
    background: unset;
  }
}
.techContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include mq("phablet") {
    gap: 30px;
  }
  @include mq("phone-wide") {
    gap: 25px;
  }

  .textHolder {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    place-items: center;
    .subTextHolder{
     margin-top: 30px;
     margin-left: 0;

     body.rtl & {
      text-align: center;
     }

     @include mq("phablet"){
       margin-top: 10px;
     }
    }
    .bottomSec {
      margin-left: 0;
      P {
        margin-top: 20px;
        body.rtl & {
          margin-top: 40px;
        }
      }
    }

  }

  .tabs {
    display: flex;
    justify-content: center;

    .ant-tabs .ant-tabs-rtl .ant-tabs-top .ant-tabs-default {
      gap: 50px;
    }
    .ant-tabs-tab {
      padding: 0 10px;
      width: fit-content;
    }
    nz-tabs-nav > div {
      justify-content: center;
    }

    .ant-tabs-ink-bar {
      background: none;
    }
    .ant-tabs-nav-list {
      height: 52px;
      overflow: hidden;
      border-radius: 26px;
      background-color: transparent;

      @include mq("tablet") {
        height: auto;
      }
    }
    .ant-tabs-tab + .ant-tabs-tab {
      margin: 0;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      background-color: $primaryColor;
      height: 44px;
      border-style: none;
      border-radius: 22px;
      color: $whiteColor;
      @include mq("phablet") {
        font-size: 9px;
      }
    }
    .ant-tabs-tab-btn {
      width: 11.875rem;
      height: 2.75rem;
      line-height: 2.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $background;
      color: $primaryColor;
      border-radius: 26px;
      

      @include mq("tablet"){
        width: 9.375rem;
      }
      @include mq("tablet"){
        width: 9.375rem;
      }
      @include mq("phablet") {
        width: 8.125rem;
      }
      @include mq("phone-wide") {
        width: 6.375rem;
        font-size: 10px;
      }
    }
    .ant-tabs-tab:not(.ant-tabs-tab-active) .ant-tabs-tab-btn {
      background-color: $inActiveTab;
    }
    .ant-tabs-top > .ant-tabs-nav::before {
      border-bottom: none;
      color: $primaryColor;
    }

    .ant-tabs-ink-bar,
    .ant-tabs-content {
      transition: none !important;
    }
    .conentHolder {
      display: flex;
      align-items: center;
      gap: 230px;

      @include mq("tablet-wide") {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 30px;
        flex-direction: column;
      }

      body.rtl & {
        gap: 270px; 
        @include mq("tablet-wide"){
          gap: 30px;
        }
      }
    }

    img.tab-icon {
      width: 500px;
      height: 100%;
      object-fit: cover;

      @include mq("desktop") {
        width: 100%;
      }
      @include mq("tablet") {
        width: 80%;
      }
    }

    .tab-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      min-height: 200px;

      @include mq("tablet-wide") {
        min-height: 0;
      }

      h3 {
        font-family: "Hauora";
        font-size: 22px;
        font-weight: bold;
        color: $blackColor;

        @include mq("phone-wide") {
          font-size: 17px;
        }
      }

      p {
        font-family: "Hauora";
        font-size: 15px;
        font-weight: normal;
        color: $subTextColor;
        @include mq("phone-wide") {
          font-size: 13px;
        }

        body.rtl & {
          font-family: "Neo-regular";
        }
      }
    }
  }
}

.carousel {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  position: relative;

  .textTitle {
    font-family: "Hauora";
    font-size: 18px;
    margin-bottom: 1.25rem;
    font-weight: 600;
    color: $subTextColor;
    display: inline-block;
    position: relative;

    @include mq("desktop") {
      font-size: 20px;
      margin-top: 1.875rem;
      margin-bottom: 0;
    }

    @include mq("phone-wide") {
      margin-top: 1.625rem;
      font-size: 15px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 50%;
      height: 2px;
      width: 2%;
      transform: translateX(-50%);
      background-color: $primaryColor;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 12%;
      body.rtl & {
        width: 7%;
      }
    }

    body.rtl & {
      font-family: "Neo-regular";
    }
  }

  .slick-list {
    width: 100% !important;
    height: 30.938rem;

  }
  .slideItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    width: 100%;
    border-radius: 10px;

    p {
      width: 100%;
      text-align: center;
      line-height: 21px;
      margin-top: 20px;

      body.rtl & {
        font-size: 20px;
      }

      @include mq("tablet-wide") {
        font-size: 16px;
        width: 100%;
      }
      @include mq("tablet") {
        font-size: 15px;
        margin-top: 10px;
        body.rtl & {
          font-size: 15px;
        }
      }
      @include mq("phablet") {
        font-size: 12px;
        margin-top: 15px;
        body.rtl & {
          font-size: 14px;
          margin-top: 13px;
        }
      }
      @include mq("phone") {
        margin-top: 7px;
      }
    }
  }

  .carouselImg {
    width: 33.125rem;
    height: 23.591rem;
    object-fit: cover;
    border-radius: 10px;

    @include mq("phone-wide") {
      width: 100%;
    }
  }

  button > img {
    @include mq("phone") {
      width: 50px;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-62px);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 60px;

    &.left {
      left: 0%;
      @include mq("ipad") {
        left: -10px;
      }
    }

    &.right {
      right: 0px;
      @include mq("ipad") {
        right: -10px;
      }
    }
  }

  .ant-carousel .slick-dots-bottom {
    bottom: 13%;
    body.rtl & {
      bottom: 11%;
    }
    @include mq("desktop-wide"){
      bottom:7%;
    }
    @include mq("ipad"){
      bottom:4%;
      body.rtl & {
        bottom: 7%;
      }
    }
    @include mq("tablet"){
      bottom: 7%;
      body.rtl & {
        bottom: 9%;
      }
    }
    @include mq("tablet-small"){
      bottom: 3%;
    }
    @include mq("phablet"){
      bottom: 5%;
      body.rtl & {
        bottom: 5%;
      }
    }
    @include mq("phone"){
      bottom: 2%;
      body.rtl & {
        bottom: 5%;
      }
    }
    @include mq("min-phone"){
      bottom: -2%;
      body.rtl & {
        bottom: 1%;
      }
    }
  }
  
   ant-carousel .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .ant-carousel .slick-dots li {
    width: 12px;
    height: 6px;
    background: transparent;
    border-radius: 3px;
    transition: all 0.3s ease;

    button {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 3px;
      cursor: pointer;

      button:hover {
        background: $carouselDotsColor;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: $carouselDotsColor;
        border-radius: 3px;
        transition: all 0.3s ease;
      }
    }
    &.slick-active {
      width: 29px;

      button::after {
        background: $primaryColor;
      }
    }
  }
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
  position: relative;

  @include mq("tablet-wide"){
    gap: 2.5rem;
  }

  .textHolder {
    place-items: center;
    .subTextHolder {
      text-align: center;
      margin-left: 0;
      text-wrap: nowrap;
    }
  }

  .teamPicHolder {
    width: 60.688rem;
    height: 100%;

    body.rtl & {
      margin-top: 60px;

      @include mq("ipad") {
        margin-top: 0;
      }
    }

    @include mq("desktop") {
      width: 100%;
    }

    .pppic1 {
      max-width: 100%;
      width: 100%;
    }
  }

  .shadow {
    position: absolute;
    width: 27.1875rem;
    top: 33.75rem;
    right: 0px;

    @include mq("tablet-small") {
      display: none;
    }
  }
}
