<app-navbar></app-navbar>
<app-coverpic
  [bgUrl]="'./assets/pic/Group15409.png'"
  [pageTitle]="'ABOUTUS.TITLE'"></app-coverpic>
<div class="aboutContainer mainPadding globalDivMargin">
  <div class="textHolder">
    <p class="bkText">{{ "ABOUTUS.TITLE" | translate }}</p>
    <div class="subTextHolder">
      <h4>{{ "ABOUTUS.TITLE" | translate }}</h4>
      <h2>{{ "ABOUTUS.subTitle" | translate }}</h2>
    </div>
    <div class="bottomSec">
    <p>{{ "ABOUTUS.DESCRIPTION" | translate }}</p>
  </div>
  </div>
  <div class="picHolder">
    <img class="pppic" src="../../assets/pic/about-us-section.png" alt="firstphoto" loading="lazy" />
  </div>
</div>
<div class="shadowPic">
  <div class="techContainer mainPadding globalDivMargin">
    <div class="textHolder">
      <P class="bkText">{{ "TECHNOLOGY.TITLE" | translate }}</P>
      <div class="subTextHolder">
        <h4>{{ "TECHNOLOGY.TITLE" | translate }}</h4>
        <h2>{{ "SUBPRODUCTS.subTitle" | translate }}</h2>
      </div>
      <div class="bottomSec">
        <p>{{ "SUBPRODUCTS.DESCRIPTION" | translate }}</p>
      </div>
    </div>
    <div class="tabs">
      <nz-tabset
        [(nzSelectedIndex)]="selectedTab"
        (nzSelectedIndexChange)="onTabChange($event)"
      >
        <nz-tab
          *ngFor="let tab of tabs; let i = index"
          [nzTitle]="tab.titleKey | translate"
          class="tabContent"
        >
          <div class="conentHolder">
            <div class="tab-content">
              <h3>{{ tab.content | translate }}</h3>
              <p>{{ tab.description | translate }}</p>
            </div>
            <div class="tab-header">
              <img
                [src]="tab.imageUrl"
                alt="{{ tab.titleKey }}"
                class="tab-icon"
                loading="lazy"
              />
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
  <div class="certificates mainPadding globalDivMargin">
    <div class="textHolder">
      <p class="bkText">{{ "certificates.mainTitle" | translate }}</p>
      <div class="subTextHolder">
        <h4>{{ "certificates.mainTitle" | translate }}</h4>
        <h2>{{ "certificates.subTitle" | translate }}</h2>
      </div>
    </div>
  <div class="carousel">
      <p class="textTitle">{{ "certificates.headTitle" | translate }}</p>
      <nz-carousel
        #carousel
        [nzEffect]="effect"
        [nzDots]="true"
        [nzAutoPlay]="true"
        (nzAfterChange)="onSlideChange($event)">
        <div
          *ngFor="let item of slides; let i = index"
          nz-carousel-content
          class="slideItem">
          <img [src]="item.imgSrc" alt="Slide image" class="carouselImg" loading="lazy" />
          <p>{{ "SUBPRODUCTS.DESCRIPTION" | translate }}</p>
        </div>
      </nz-carousel>
      <button class="arrow left" (click)="carousel.pre()">
        <img src="assets/pic/Next1.png" alt="Previous" loading="lazy"/>
      </button>
      <button class="arrow right" (click)="carousel.next()">
        <img src="assets/pic/Next.png" alt="Next" loading="lazy"/>
      </button>
  </div>
</div>
<div class="team mainPadding globalDivMargin">
  <div class="textHolder">
    <P class="bkText">{{ "certificates.Team.TITLE" | translate }}</P>
    <div class="subTextHolder">
      <h4>{{ "certificates.Team.TITLE" | translate }}</h4>
      <h2>{{ "certificates.Team.subTitle" | translate }}</h2>
    </div>
  </div>
  <div class="teamPicHolder globalPaddingBottom">
    <img class="pppic1" src="../../assets/pic/Group15410.png" alt="teamPic" loading="lazy" />
  </div>
  <div class="shadow">
    <img src="../../assets/pic/Mask Group 67.svg" alt="shadow" loading="lazy"/>
  </div>
</div>
<app-footer></app-footer>
