@import '../../../assets/Css/common.scss';
@import '../../../assets/Css/Mixin.scss';
@import '../../../assets/Css/variables.scss';

.productDetailsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
    font-family: "Hauora-regular";
    font-size: 30px;
    color: $primaryColor;
        body.rtl & {
          font-family: "Neo-regular";
        }    

    .mainImage {
      width: 20%;
      height: 100%;
    }
    
    .list-icon {
      width: 20%;
      height: 100%;
      margin-right: 8px; 

      body.rtl & { 
        margin-right: 0px;
      }
    }
    
    span {
      font-size: 34px; 
      color: $subTextColor;
      font-family: "Hauora-Bold";


      body.rtl & {
        font-family: "Neo-Medium";
        margin-right: 8px;
      }
    }

    button {
        justify-content: center;
    }
  }


  .bkImgSek{
    margin-top: 70px;
    width: 100%;
    height: 315px;
    .ant-skeleton-input{
      width: 100%;
      height: 100%;
    }
  }
  .productDetailsContenSekl {
    margin-top: 70px;
    display: grid;
    gap: 50px;

    .sekImg {
      height: 300px;
      width: 300px;
      .ant-skeleton-image {
        width: 100%;
        height: 100%;
      }
    }
   
  }