<section>
    <p class="mainText">{{ isAuction ? 'Auction' : 'Posted Ads' }}</p>
  <div class="adConatiner">
        <div class="itemCard" *ngFor="let product of products"
        (click)="logClick(product)">
        <div class="status" [class]="getStatusClass(product.status)">{{ product.status }}</div>

        <span nz-icon nzType="more" nzTheme="outline" nz-dropdown nzTrigger="click" style="padding:0; margin: 0; line-height: 1; "
        [nzDropdownMenu]="menu" class="dropDown" (click)="$event.stopPropagation()"></span>
        <nz-dropdown-menu #menu="nzDropdownMenu" style="position: relative;">
          <ul class="dropMenu" nz-menu (click)="$event.stopPropagation()">
            <li nz-menu-item><span nz-icon nzType="edit" nzTheme="outline"></span><span>Edit</span></li>
            <li nz-menu-item><span nz-icon [nzType]="isAuction ? 'file-add' : 'delete'" nzTheme="outline"></span>
              <span>{{ isAuction ? 'Add Verification' : 'Delete' }}</span>
            </li>
            <li nz-menu-item><span nz-icon [nzType]="isAuction ? 'delete' : 'up-circle'" nzTheme="outline"></span><span>{{ isAuction ? 'Delete' : 'Upgrade' }}</span></li>
          </ul>
          </nz-dropdown-menu>

        <div class="imageContainer">
          <img [src]="getProductImage(product)" alt="Car Image" />
        </div>
        <div class="cardContent">
          <h3 class="carTitle">
            {{ product.mText }}
          </h3>
          <div class="info">
            <div class="price">             
             <div>
              <span class="highestBid">{{ isAuction ? 'Highest bid: ' : '' }}</span>
              <span class="currency">{{ product.currency }}</span><span class="amount">{{ product.price }}</span></div>
              <p>{{ isAuction ? '03D : 18H : 50M' : '' }}</p>
              <p class="year">{{ product.year }}</p>
            </div>
            <div class="infoText">
              <p style="color: black;">{{ product.km }}</p>
              <p>{{ product.adDate }}</p>
              <div class="auctionBidder" *ngIf="isAuction">
                <img src="../../../../assets/pic/products/icons_459499.svg" alt="bidders Icon"> <span>20 Bidders</span>
              </div>
            </div>
          </div>
          <a href="#" class="markSold" [ngClass]="getButtonClass(product.status)">
            {{ isAuction ? '' : product.adStatus }}
          </a>             
          <hr>
          <div class="location">
            <span>{{ product.sales }}</span> |
            <span>{{ product.location }}</span>
          </div>
        </div>
      </div>
    </div>
</section>