<app-navbar></app-navbar>
<app-coverpic [bgUrl]="'./assets/pic/Group15412.png'" [pageTitle]="'SUBPRODUCTS.TITLE'"></app-coverpic>
<div class="productsContainer mainPadding">
  <div class="tabsContainer">
    <div class="tabs">
      <nz-tabset
        [(nzSelectedIndex)]="selectedTab"
        (nzSelectedIndexChange)="onTabChange($event)">
        <nz-tab
          *ngFor="let tab of tabs; let i = index"
          [nzTitle]="tab.titleKey | translate"></nz-tab>
      </nz-tabset>
    </div>
  </div>
  <div class="tabContent">
    <div
    *ngFor="let product of filteredProducts"
    class="slideItem"
    [routerLink]="['/product-details']"
    [queryParams]="{ id: product.id }"
    (click)="logClick(product)">
    <img [src]="product.image" alt="{{ product.titleKey | translate }}">
    <div class="overlay">
        <p>{{ product.titleKey | translate }}</p>
      </div>
    </div>
  </div>
  <nz-pagination [nzPageIndex]="1" [nzTotal]="50" *ngIf="totalProducts > pageSize" globalDivMargin
  [nzPageIndex]="currentPage"
    [nzPageSize]="pageSize"
    [nzTotal]="totalProducts"
    (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
</div>
<app-footer></app-footer>



