@import '../../assets/Css/Mixin.scss';
@import '../../assets/Css/common.scss';
@import '../../assets/Css/variables.scss';

.productsContainer {
  display: grid;
  place-items: center;

  @include mq("phone-wide"){
    justify-content: center;
  }

  .ant-pagination  {
    position: relative;
    top: 1.2rem;

    @include mq("ipad") {
      padding-bottom: 1rem;
    }
    @include mq("tablet"){
      top: 0.938rem;
    }
    .ant-pagination-next .ant-pagination-item-link:hover,
    .ant-pagination-prev .ng-star-inserted:hover,
    .ant-pagination-item-active:hover,
    .ant-pagination-item-active:hover a,
    .ant-pagination-item:hover,
    .ant-pagination-item:hover a,
    .ant-pagination-item-active,
    .ant-pagination-item-active a
    {
      color: $whiteColor;
      border-color: $primaryColor;
      background-color: $primaryColor;
    }
    .ant-pagination-next,
    .ant-pagination-prev,
    .ant-pagination-item {
     @include mq("tablet") {
      min-width: 25px;
      height: 25px;
      line-height: 21px;
     }
    }

    .ant-pagination-disabled,
    .ant-pagination-disabled:hover,
    .ant-pagination-disabled:focus-visible,
    .ant-pagination-disabled .ant-pagination-item-link:hover,
    .ant-pagination-disabled .ant-pagination-next .ant-pagination-item-link:hover
    .ant-pagination-disabled .ant-pagination-prev .ng-star-inserted:hover,
    .ant-pagination .ant-pagination-item-active a:hover{
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.25);
      border-color: #d9d9d9;
      background-color: #d9d9d9;
    }
  }

  .tabsContainer {
    position: relative;
    margin-top: 20px;

    @include mq("tablet-wide") {
      place-items: center;  
    }

    body.rtl & {
      margin-top: 40px;
    }

    .tabs {
      position: relative;
      font-family: "Hauora-regular";
      font-size: 14px;
      body.rtl & {
        font-family: "Neo-regular";
      }

      .ant-tabs-tab {
        padding: 0 5px;
        width: fit-content;
        margin: 0;

        @include mq("tablet-wide") {
          padding: 0px;
        }

        @include mq("phablet") {
          padding: 0px;
          font-size: 12px;
        }
      }

      .ant-tabs-ink-bar {
        background: none;
      }

      .ant-tabs > .ant-tabs-nav{
        margin: 0;
      }
      .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
        height: 52px;
        overflow: hidden;
        border-radius: 26px;
        background-color: $background;

        @include mq("tablet-wide") {
          height: 44px;
        }
      }

      .ant-tabs-tab + .ant-tabs-tab {
        margin: 0;
        border-radius: 22px;
      }

      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        background-color: $primaryColor;
        height: 44px;
        border-style: none;
        border-radius: 22px;
        color: $whiteColor;
      }

      .ant-tabs-tab-btn {
        width: 9.375rem;
        color: $primaryColor;
        border-radius: 22px;

        @include mq("tablet") {
          width: 140px;
        }

        @include mq("phablet") {
          width: 120px;
        }

        @include mq("phone") {
          width: 90px;
        }
      }

      .ant-tabs-top > .ant-tabs-nav::before {
        border-bottom: none;
        color: $primaryColor;
      }

      .tabsSkelton,
      .ant-skeleton-active .ant-skeleton-title{
        width: 458px !important;
        height: 52px;
        border-radius: 26px;
        }
      
    }
  }

  .tabContent {
    margin-top: 3.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3.75rem;
    width: 100%;

    @include mq("ipad"){
      justify-content: space-between;
      gap: 1.875rem;
    }
    
    @include mq("tablet-small"){
      gap: 1.5rem;
      margin-top: 1.75rem;
      justify-content: center;
    }

    &.flex-start { 
      justify-content: flex-start;
    }

    .ant-skeleton-content .ant-skeleton-title {
      width: 100% !important;
      height: 450px;
    }

 
    nz-skeleton > div{
      position: relative;
      bottom: 20px;
      width: 100%;
    }

    .slideItem {
      cursor: pointer;
      position: relative;
      width: calc(33.3% - 49px);; 
      height: 28.797rem; 
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
      box-sizing: border-box; 

      &:hover {
        transform: scale(0.9);
      }

      @include mq("ipad"){
        width: calc(50% - 15px);
        height: 23rem;
        flex: unset;
      }

      img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        border-radius: 8px;
        transition: opacity 0.3s ease;
      }
     

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent linear-gradient(180deg, #00000000 0%, #0000001A 63%, #00000033 85%, #000000 100%) 0% 0% no-repeat;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        padding-bottom: 10px;
        opacity: 1;
        transition: opacity 0.3s ease;
        border-radius: 8px;

        p {
          color: $whiteColor;
          font-size: 18px;
          position: relative;
          left: 5px;
          padding: 10px;
          font-family: "Hauora-regular";

          body.rtl & {
            font-family: "Neo-regular";
            right: 15px;
            left: 0px;
          }

          @include mq("tablet"){
          font-size: 15px;
          }
          @include mq("phone-wide"){
            font-size: 15px;
            padding: 5px 0 0 7px;
            }
        }
        
      }
    }
  }
  
  .no-products-gap {
    gap: 0;
    display: flex;
    justify-content: center;
  }
  
  .noProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    padding: 5px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .noProducts img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .noProducts p {
    font-size: 1.2em;
    color: $blackColor;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .noProducts p::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: $primaryColor;
    margin: 10px auto;
  }

}