<app-navbar></app-navbar>
<app-coverpic [bgUrl]="'./assets/pic/Group15412.png'" [pageTitle]="'SUBPRODUCTS.TITLE'"></app-coverpic>
<div class="productsContainer mainPadding">
  <div class="tabsContainer">
    <div class="tabs">
      <nz-tabset
        [(nzSelectedIndex)]="selectedTab"
        (nzSelectedIndexChange)="onTabChange($event)">
        <nz-tab
          *ngFor="let tab of tabs; let i = index"
          [nzTitle]="tab.titleKey | translate"></nz-tab>
      </nz-tabset>
    </div>
  </div>
  <div class="tabContent">
    <div
      *ngFor="let slide of tabs[selectedTab]?.slides"
      class="slideItem"
      [routerLink]="'/product-details'"
      [queryParams]="{ id: slide.id }">
      <img [src]="slide.image" alt="Image">
      <div class="overlay">
        <p>{{ slide.titleKey | translate }}</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="product">
    <p *ngIf="!product">Sorry, the product you are looking for does not exist.</p>
    <h1>{{ product.name }}</h1>
    <img [src]="product.img" alt="{{ product.name }}" />
    <ul>
      <li *ngFor="let desc of product.description">{{ desc }}</li>
    </ul>
    <button [routerLink]="['/products']">Back to Products</button>
  </div>
<app-footer></app-footer>
