<div class="whoAreWeContainer mainPadding">
    <div class="fstSection" [style.flex-direction]="isRowReverse ? 'row-reverse' : ''">
      <div class="scatchContainer">
        <img class="pppic" src="../../assets/pic/test1.jpg" alt="">
      </div>
      <div class="text">
        <div class="overLayText">
          <p class="bkWord">About us</p>
          <div class="aboutUsHolder">
            <p>About us</p>
          <h1>{{title}}</h1>
          </div>
        </div>
        <div class="txbtn">
          <h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
          </h4>
          <a href="#" class="primaryButton">
            <span>View More</span>
            <div class="icon-container">
              <img src="../../assets/pic/BTN ARROW.svg" alt="Arrow" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="sndSection">
      <p>We are obsessed with quality and you should too</p>
      <img src="../../assets/pic/food.png" alt="Food">
    </div>
  </div>
  