.techContainer {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 100px;
      

    .picC {
      position: relative;
      left: 70px;
    .pic {
        display: flex;
       
        transition: transform 0.3s ease-in-out;
        
        .IQF {
            position: relative;
            top: 30px;
        }
        }
        .Freeze {
          position: relative;
          left: 50px;
      }
      .HPP:hover, .IQF:hover, .Freeze:hover {
        transform: scale(1.1);
      }
    }

    .technologies {
        display: flex;
        width: 51%;
      
        .content {
          position: relative;
          display: flex;
          flex-direction: column;
          
          .bkWord {
            position: relative;
            right: 80px;
            font: normal normal normal 120px Herbarium;
            letter-spacing: 0;
            color: #0F494D;
            opacity: 0.1;
            margin-bottom: 40px;

          }
          .technologiesHolder {
              position: absolute;
              margin-top: 40px;
          h4 {
            color: #ff6c00; 
            font: normal normal normal 25px/41px Herbarium;
            font-weight: bold;
            margin-bottom: -6px;
          }
      
          h2 {
            color: #0F494D; 
            font: normal normal bold 40px/55px Hauora;
          }
        }
      
          .description {
            font-size: 16px;
            color: #353535;
            line-height: 1.8;
            margin: 20px 0;
          }
        }
        .btn {
          display: flex;
          justify-content: flex-start;
        }
    }     

}
    
    
    @media (max-width: 992px) {

  .techContainer {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 70px;
    
    .picC {
      left: 0;
    }

    .technologies {
      margin-bottom: 40px;
      width: 100%;
      .content {
        max-width: 100%;
        text-align: center;
        align-items: center;

        .bkWord {
          right: 0;
        }

        .subtitle {
          font-size: 24px;
        }

        .title {
          font-size: 38px;
        }

        .description {
          font-size: 18px;
          text-align: center;
        }
      }

      .btn {
        top: 25px;
      }
    }
  }
}

@media (max-width: 768px) {

  .techContainer {
    .technologies {
      .content {
        .description {
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }
}
