<div class="techContainer mainPadding">
  <div class="picC">
    <div class="pic">
        <img class="HPP" src="assets/pic/HPP1.png" alt="HPP">
        <img class="IQF" src="assets/pic/IQF1.png" alt="IQF">
    </div>
    <div class="Freeze">
      <img class="Freeze" src="assets/pic/Freeze1.png" alt="Freeze">
    </div>
  </div>
    <div class="technologies">
    <div class="content">
      <p class="bkWord">Technologies</p>
      <div class="technologiesHolder">
      <h4>Technology</h4>
      <h2>Our Technologies</h2>
      </div>
        <p class="description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer.Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.. Lorem Ipsum has been the industry's standard dummy text
          ever since the 1500s, when an unknown printer.Lorem Ipsum is simply dummy 
          text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer.</p>
        <div class="btn">
          <a href="#" class="primaryButton">
            <span>View More</span>
            <div class="icon-container">
              <img src="../../assets/pic/BTN ARROW.svg" alt="Arrow" />
            </div>
          </a>
        </div>        
      </div>
    </div>
</div>