  <div class="globalContainer mainPadding">
        <div class="content">
            <h3>Global</h3>
            <div class="title">
            <h4 class="subtitle">Global</h4>
            <h2>No Borders, no boundries</h2>
          </div>
          <div class="txBtn">
            <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer.Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer.Lorem Ipsum is simply dummy 
            text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer.</p>
            <div class="btn">
                <a href="#" class="primaryButton">
                  <span>View More</span>
                  <div class="icon-container">
                    <img src="../../assets/pic/BTN ARROW.svg" alt="Arrow" />
                  </div>
                </a>
              </div> 
            </div>
        </div>
    <div class="picGlobal">     
      <img class="img" src="../../assets/pic/Global.png" alt="Global">
     </div>
</div>