<div class="techContainer mainPadding globalDivMargin globalGap">
  <div class="picC">
    <div class="pic">
        <img class="HPP" src="assets/pic/HPP1.png" alt="HPP">
        <img class="IQF" src="assets/pic/IQF1.png" alt="IQF">
    </div>
    <div class="Freeze">
      <img class="Freeze" src="assets/pic/Freeze1.png" alt="Freeze">
    </div>
  </div>
    <div class="technologies">
      <div class="textHolder">
        <P class="bkText">{{ "TECHNOLOGY.TITLE" | translate }}</P>
        <div class="subTextHolder">
          <h4>{{ "TECHNOLOGY.TITLE" | translate }}</h4>
          <h2>{{ "TECHNOLOGY.SUBTITLE" | translate }}</h2>
        </div>
        <div class="bottomSec">
        <p>{{ "TECHNOLOGY.DESCRIPTION" | translate }}</p>
          <a href="#" class="primaryButton">
            <span class="text">{{ 'TECHNOLOGY.BUTTON' | translate }}</span>
            <div class="icon-container">
              <img src="../../assets/pic/BTN ARROW.svg" alt="Arrow" />
            </div>
          </a>     
        </div>   
      </div>
    </div>
</div>