@import "../assets/Css/Mixin.scss";
@import "../assets/Css/common.scss";
@import "../assets/Css/variables.scss";

@include globalTextStyles($mainFontSize, $primaryColor);

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0F494D;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
  
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
