<div class="globalContainer mainPadding globalDivMargin globalGap">
  <div class="content">
    <div class="textHolder">
      <P class="bkText">{{ "GLOBAL.TITLE" | translate }}</P>
      <div class="subTextHolder">
        <h4>{{ "GLOBAL.TITLE" | translate }}</h4>
        <h2>{{ "GLOBAL.SUBTITLE" | translate }}</h2>
      </div>
      <div class="bottomSec">
      <p>{{ "GLOBAL.DESCRIPTION" | translate }}</p>
      <a href="#" class="primaryButton">
        <span>{{ "GLOBAL.BUTTON" | translate }}</span>
        <div class="icon-container">
          <img src="../../assets/pic/BTN ARROW.svg" alt="Arrow" />
        </div>
      </a>
    </div>
    </div>
  </div>
<div class="picGlobal">
  <img class="img" src="../../assets/pic/map.png" alt="Global" />
</div>
</div>
