<div class="whoAreWeContainer mainPadding">
    <div class="fstSection">
      <div class="scatchContainer">
        <img class="pppic" src="../../assets/pic/about-us-section.png" alt="who are we" loading="lazy">
      </div>
      <div class="textSection globalDivMargi">
      <div class="textHolder">
        <p class="bkText">{{ "ABOUTUS.TITLE" | translate }}</p>
        <div class="subTextHolder">
          <h4>{{ "WHO_ARE_WE.SUBTITLE" | translate }}</h4>
          <h2>{{ "WHO_ARE_WE.TITLE" | translate }}</h2>
        </div>
        <div class="bottomSec">
        <p>{{ 'WHO_ARE_WE.DESCRIPTION' | translate }}</p>
          <a routerLink="/about-us" class="primaryButton">
            <span>{{ 'WHO_ARE_WE.Button' | translate }}</span>
            <div class="icon-container">
              <img src="../../assets/pic/BTN ARROW.svg" alt="Arrow" />
            </div>
          </a>
      </div>
    </div>
    </div>
    </div>
    <div class="sndSection">
      <p>{{ 'WHO_ARE_WE.SSTEXT' | translate }}</p>
      <img src="../../assets/pic/food.png" alt="Food" loading="lazy"/>
    </div>
  </div>
  