<div class="whoAreWeContainer mainPadding">
    <div class="fstSection">
      <div class="scatchContainer">
        <img class="pppic" src="../../assets/pic/PPCS.png" alt="">
      </div>
      <div class="textSection globalDivMargi">
      <div class="textHolder">
        <p class="bkText">{{ "ABOUTUS.TITLE" | translate }}</p>
        <div class="subTextHolder">
          <h4>{{ "ABOUTUS.TITLE" | translate }}</h4>
          <h2>{{ "WHO_ARE_WE.SUBTITLE" | translate }}</h2>
          <p>{{ 'WHO_ARE_WE.DESCRIPTION' | translate }}</p>
          <a href="#" class="primaryButton">
            <span>{{ 'WHO_ARE_WE.Button' | translate }}</span>
            <div class="icon-container">
              <img src="../../assets/pic/BTN ARROW.svg" alt="Arrow" />
            </div>
          </a>
        </div>
      </div>
    </div>
    </div>
    <div class="sndSection">
      <p>{{ 'WHO_ARE_WE.SSTEXT' | translate }}</p>
      <img src="../../assets/pic/food.png" alt="Food">
    </div>
  </div>
  