<div class="products mainPadding">
  <div class="productsContainer">
    <div class="WordC">
      <p class="Frwords">products</p>
      <div class="textHolder">
      <p>Products</p>
      <h1>Premium Products</h1>
    </div>
    </div>
  </div>
  <div class="tabscontainer">
    <div class="tabs">
      <nz-tabset
        [(nzSelectedIndex)]="selectedTab"
        (nzSelectedIndexChange)="onTabChange($event)">
        <nz-tab
          *ngFor="let tab of tabs; let i = index"
          [nzTitle]="tab.title"></nz-tab>
      </nz-tabset>
    </div>
  </div>
  <owl-carousel-o [options]="sliderOptions">
    <ng-container *ngFor="let slide of tabs[selectedTab]?.slides">
      <ng-template carouselSlide>
        <div class="slide-item">
          <div class="box"></div>
          <img [src]="slide.image" [alt]="slide.title" />
          <p>{{ slide.title }}</p>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <div class="btn">
    <a href="#" class="primaryButton">
      <span>View More</span>
      <div class="icon-container">
        <img src="../../assets/pic/BTN ARROW.svg" alt="Arrow" />
      </div>
    </a>
  </div>
</div>
