<footer class="Footer">
  <div class="greenArea">
    <div class="bkArea">
      <div class="circle">
        <img src="../../../assets/pic/W-CIRCLE.png" alt="wcircle">
      </div>
      <div class="inCircle"></div>
      <div class="center">
        <div class="rCenter">
        <img class="papperPlane"src="assets/pic/DSA.png" alt="papperPlane"/>
        <img class="strawberries"src="assets/pic/strawberries.png" alt="Strawberries"/>
        <div class="btnx">
          <p>{{ 'FOOTER.GREENAREA.QUESTION' | translate }}</p>
          <div class="btn">
            <a routerLink="/contact-us" class="secbtn">
              <span>{{ 'FOOTER.GREENAREA.BUTTON' | translate }}</span>
              <div class="icon-container">
                <img src="../../assets/pic/Arrow.svg" alt="Arrow"/>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="lCenter">
        <img class="seed"src="assets/pic/ASD.png" alt="seed"/>
      </div>
      </div>
    </div>
  </div>
  <div class="blackAre mainPadding">
    <div class="footerUpper">
      <div class="left">
        <img
          class="Logo"
          src="../../assets/pic/FooterLogoPng.png"
          alt="Healthy Crops Logo"/>
        <div class="socialIcons">
          <a href="#"  ><img src="../../assets/pic/Sm logo/facebook (1).png"  alt=""/></a>
          <a href="#"  ><img src="../../assets/pic/Sm logo/linkedin.png"  alt="" /></a>
          <a href="#"  ><img src="../../assets/pic/Sm logo/instagram.png"  alt="" /></a>
        </div>
      </div>
      <div class="midLeft">
        <h4>{{ 'FOOTER.LINKS.QuickLinks' | translate }}</h4>
          <P><a routerLink="/about-us">{{ 'FOOTER.LINKS.AboutUs' | translate }}</a></P>
          <p><a href="#">{{ 'FOOTER.LINKS.Ourservices' | translate }}</a></p>
          <p><a routerLink="/products">{{ 'FOOTER.LINKS.Productslist' | translate }}</a></p>
          <p><a href="#">{{ 'FOOTER.LINKS.Customerportal' | translate }}</a></p>
          <p><a routerLink="/contact-us">{{ 'FOOTER.LINKS.Contactsus' | translate }}</a></p>
      </div>
      <div class="midRight">
        <h4>{{ 'FOOTER.LINKS.Ourproducts' | translate }}</h4>
        <p><a routerLink="/profile">Account</a></p>
          <div *ngFor="let tab of tabs">        
          <p><a [routerLink]="['/products', tab.type]">{{ tab.titleKey | translate }}</a></p>
        </div>
          <!-- <p><a [routerLink]="['/product-details', 40]" >{{ 'FOOTER.LINKS.WatermelonSeeds' | translate }}</a></p>
          <p><a [routerLink]="['/product-details', 41]" >{{ 'FOOTER.LINKS.SesameSeeds' | translate }}</a></p>
          <p><a [routerLink]="['/product-details', 42]" >{{ 'FOOTER.LINKS.HibiscusFlower' | translate }}</a></p>
          <p><a [routerLink]="['/product-details', 43]" >{{ 'FOOTER.LINKS.DriedGingerflakes' | translate }}</a></p>
          <p><a [routerLink]="['/product-details', 44]" >{{ 'FOOTER.LINKS.Chickpeas' | translate }}</a></p> -->
      </div>
        <div class="right">
          <h4>{{ 'FOOTER.LINKS.Contact' | translate }}</h4>
          <p><strong>{{ 'FOOTER.LINKS.MainOffice' | translate }}</strong></p>
          <p>
            {{ 'FOOTER.LINKS.Email' | translate }}
            <a href="mailto:info@healthycrops.com">{{ 'FOOTER.LINKS.EMAILHERF' | translate }}</a>
          </p>
          <p>{{ 'FOOTER.LINKS.Phone' | translate }}<a href="tel:+201234567896">{{ 'FOOTER.LINKS.NUMBER' | translate }}</a></p>
          <p class="address">{{ 'FOOTER.LINKS.Address' | translate }}<br/>{{ 'FOOTER.LINKS.AjmanFreeZone' | translate }}</p>
        </div>
    </div>
    <hr />
    <div class="footerBottom">
      <div class="temrs">
        <a href="#">{{ 'FOOTER.BOTTOM.TERMS' | translate }}</a>
        <div><a href="#">{{ 'FOOTER.BOTTOM.Privacy' | translate }}</a></div>
      </div>
      <div>
        <p>
          {{ 'FOOTER.BOTTOM.COPYRIGHT' | translate }}
          <a href="#">{{ 'FOOTER.BOTTOM.LINK' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
</footer>
