<app-navbar></app-navbar>

<div class="carAdContainer mainMargin mainPadding globalPaddingBottom">
  <div class="adData">
    <div class="textHeaderEdit">
    <h2 class="title">Nissan Patrol Safari 2023 Used</h2>
    <img src="../../../../Css/pic/products/Edit.svg" alt="Edit Icon"/>
  </div>
    <p class="seller">Seller: <span>Q-Motor</span></p>
    <p>Doha</p>
    <div class="textHeaderEdit">
    <p class="date">Date: 10 Dec 2023</p>
    <!-- <div class="status" [class]="getStatusClass(product.status)">
      {{ formatStatus(product.status) | titlecase }}
    </div>  -->
    </div>
  </div>
  <div class="adPriceImage">
    <div class="image-placeholder">
      <img
        class="imgOfCar"
        src="../../../../assets/pic/products/NoPath - Copy (6)@2x.png"
        alt="carpic"
        loading="lazy"
      />
    </div>
    <div class="price-section">
      <div class="price">
        <h5>Price</h5>
        <h3>520,000 QR</h3>
      </div>
      <button class="upload-verification">Upload Verification</button>
      <div class="package-info">
        <div class="currentPackageType">
          <span>Current Package:</span>
          <p class="packageType">Gold</p>
        </div>
        <button class="upgrade-btn" disabled>Upgrade</button>
      </div>
    </div>
  </div>
  <div class="car-details">
    <h3>Car Details</h3>
    <ul>
      <li><strong>Make:</strong> Nissan</li>
      <li><strong>Model:</strong> Patrol Safari</li>
      <li><strong>Year:</strong> 2023</li>
      <li><strong>Body Type:</strong> Sedan</li>
      <li><strong>Color:</strong> Red</li>
      <li><strong>Mileage:</strong> 160,000 KM</li>
      <li><strong>Transmission:</strong> Nissan</li>
      <li><strong>Sold by:</strong> Q-Motor</li>
    </ul>
  </div>
  <div class="extra-features">
    <h3>Extra Features</h3>
    <ul>
      <li>Bluetooth</li>
      <li>GPS</li>
    </ul>
  </div>
  <a class="delete-ad" href="#">Delete Ad</a>
</div>
<app-footer></app-footer>
