<app-navbar></app-navbar>
<app-coverpic [bgUrl]="'./assets/pic/contactUsHero.webp'" [pageTitle]="'CONTACTUS.TITLE'"></app-coverpic>
<div class="pageContant mainPadding globalDivMargin">
<div class="contactFormHolder ">
    <div class="contactForm">
        <div class="textHolder">
            <p class="bkText">{{ "ABOUTUS.TITLE" | translate }}</p>
            <div class="subTextHolder">
              <h4>{{ "ABOUTUS.TITLE" | translate }}</h4>
              <h2>{{ "ABOUTUS.subTitle" | translate }}</h2>
              <p>{{ "ABOUTUS.DESCRIPTION" | translate }}</p>
            </div>
          </div>
    </div>
</div>
<div class="getInTouchHolder">
  <div class="textHolder">
    <p class="bkText">{{ "certificates.mainTitle" | translate }}</p>
    <div class="subTextHolder">
      <h4>{{ "certificates.mainTitle" | translate }}</h4>
      <h2>{{ "certificates.subTitle" | translate }}</h2>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>