@import url(./assets/Css/common.scss); 
@import url(./assets/Css/button.scss);
@import url(./assets/Css/reset.scss);
@import url(./assets/Css/Mixin.scss);
@import url(./assets/css/variables.scss);
@import url(../src/assets/Css/Mixin.scss);


*,
* ::before,
* ::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    // cursor: url('../src/assets/pic/ICON/cursor.svg'), auto;
    cursor: none;
  }

  #custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 24px; /* Adjust size as needed */
    height: 24px;
    pointer-events: none;
    z-index: 9999;
    background: url('../src/assets/pic/ICON/cursor.svg') no-repeat center;
    background-size: contain;
    transition: background 0.2s ease, transform 0.1s ease;
  }


html.cdk-global-scrollblock {
    position: static !important; /* Remove fixed position */
    overflow: visible !important; /* Ensure scrolling remains enabled */
    top: auto !important; /* Reset top offset */
    left: auto !important; /* Reset left offset */
  }


  .ant-tabs-motion {
    animation: none !important;
  }

  body.rtl {
    direction: rtl;
    text-align: right;
    font-family: "Neo-Regular";
  }